.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #3d23e8;
}
p{
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #3d23e8;
}
.form-radio-group{
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  margin-right: 10px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .signup-form {
    width: 500px;
    max-height: 700px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
}
