.profile-container {
     max-width: 960px;
     margin: 0 auto;
     padding: 20px;
   }
   .account-container{
    background-color: antiquewhite;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #05060a; 
    display: flex;
   }
   .profile-header {
     text-align: center;
     margin-bottom: 20px;
   }
   
   .profile-content {
     display: flex;
     align-items: center;
   }
   
   .profile-picture img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover;
     margin-right: 20px;
   }
   
   .profile-details {
     flex-grow: 1;
   }
   
   .profile-details h3 {
     margin-top: 0;
   }
   
   @media (min-width: 768px) {
     .profile-container {
       padding: 10px;
     }
   
     .profile-content {
       flex-direction: column;
     }
   
     .profile-picture img {
       margin-bottom: 10px;
     }
     .account-container{
      margin-top: -10px;
      margin-left: -10px;
      padding: 20px;
     }
   }
   